@import "../../style/_variables";

.Layout {
  padding: 0px 25px;
}

@media screen {
  @media (min-width: $screen-sm) {
    .Layout {
      padding: 0px 50px;
    }
  }
  @media (min-width: $screen-md) {
    .Layout {
      padding: 0px 100px;
    }
  }
  @media (min-width: $screen-lg) {
    .Layout {
      padding: 0px 150px;
    }
  }
}
