$green: #64ffda;

.Header {
  height: 100px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0px;
  z-index: 11;
  width: 100%;
}
.Header__container {
  padding: 0 50px;
  display: grid;
  grid-template-columns: 2fr 5fr;
  width: 100%;
}
.Header__logo {
  font-weight: bolder;
  text-transform: uppercase;
  margin: 0;
  color: $green;
  display: flex;
  align-items: center;
  a {
    color: inherit;
  }
}
