@import "../../style/_variables";

.Header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 11;
  width: 100%;
  height: $nav-height;
  background-color: $navy;
  backdrop-filter: blur(10px);
  transition: $transition;
  filter: none !important;
  pointer-events: auto !important;
  user-select: auto !important;
  transform: translateY(0px);
  background-color: rgba(10, 25, 47, 0.85);
}
.Header--scrollUp {
  height: $nav-scroll-height;
  transform: translateY(0px);
  background-color: rgba(10, 25, 47, 0.85);
  box-shadow: 0 10px 30px -10px $navy-shadow;
}
.Header--scrollDown {
  height: $nav-scroll-height;
  transform: translateY($nav-scroll-height * -1);
  box-shadow: 0 10px 30px -10px $navy-shadow;
}
.Header__container {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  grid-template-columns: 2fr 5fr;
  width: 100%;
}
.Header__logo {
  font-weight: bolder;
  text-transform: uppercase;
  margin: 0;
  color: $green;
  display: flex;
  align-items: center;
  a {
    color: inherit;
  }
  svg {
    fill: none;
    width: 48px;
    height: 48px;
  }
}
@media screen {
  @media (min-width: $screen-md) {
    .Header__container {
      padding: 0 40px;
    }
  }
  @media (min-width: $screen-lg) {
    .Header__container {
      padding: 0 50px;
    }
  }
}
